/.vscode
/1.py
/10.css
/10.HTML
/11.html
/12.HTML
/13th.html
/1449681079846.jpg
/14TH.HTML
/15TH.HTML
/16th.html
/17th.html
/18.html
/19.html
/20.html
/20171117_150708.jpg
/21.html
/22-scrollbar.html
/23shapes.html
/6TH.HTML
/7th .html
/8th.html
/9th .html
/book store
/bootstrap.html
/cky.py
/dF5SId3UHWd.svg
/DINCHAK POOJA.png
/DSCN0099.JPG
/example.html
/fifth.html
/first.html
/fourth.html
/Homer_Simpson.png
/Image2077.jpg
/images.jpg
/images.png
/intern.html
/java.html
/layout.html
/new login.html
/new1.py
/page.html
/pattern.html
/pattern2.html
/pattern3.html
/pattern4.html
/pexels-photo-257897.webp
/pexels-photo-585752.jpg
/q3.py
/sakshi.html
/search logo.png
/SECOND.HTML
/third.html
/wo.java
/wo1.java